<%- partial('header.ejs', {session: session}) %>

<div class="container">
	<div class="row">
		<div class="span12">
			<div class="hero-unit">
				<h1>Pivot</h1>
				<p>Share, Pivot and Contribute to great ideas from great people.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div class="well padded-well">
				<h2>Share great Ideas</h2>
				<img src="img/ideas.jpg"/>
				<p>Sign up and start sharing all the great ideas you've ever had with Pivot.  Whether its the next Facebook, a solid business plan. or just an idea for a trip to somewhere awesome, we can't wait to hear it.</p>
			</div>
		</div>
		<div class="span4">
			<div class="well padded-well">
				<h2>Pivot great Ideas</h2>
				<img src="img/pivot.jpg"/>
				<p>See an idea that could be destined for greatness if it was just pushed in the right direction?  Pivot from the original idea and make it your own.  Who knows maybe you were right!</p>
			</div>
		</div>
		<div class="span4">
			<div class="well padded-well">
				<h2>Work with great People</h2>
				<img src="img/share.jpg" />
				<p>Comment on ideas you think truly shine and have people do the same for you.  By working together, we can help everyone's ideas be the best they can be.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Register Today!</h1>
		<form class="well form-inline" action="/register" method="post">
			<input type="text" name="username" placeholder="Username" />
			<input type="text" name="password" placeholder="Password" />
			<input type="submit" value="Sign Up" />
		</form>
	</div>
</div>

<%- partial('footer.ejs') %>