<ul class="pull-right">
	<li>Not registered? <a href="register">Sign up Today!</a></li>
</ul>
<form class="navbar-form pull-right" action="/login">
	<input type="text" class="span2" name="username" placeholder="Username" />
	<input type="password" class="span2" name="password" placeholder="Password" />
	<input type="submit" class="span2" value="Login" />
</form>