<ul class="nav">
	<li><a href="/feed">Home</a></li>
	<li><a href="/createIdea">New Idea</a></li>
</ul>
<ul class="nav pull-right">
	<li><a href="/profile/<%= user._id %>"><%= user.name %></a></li>
	<li><a href="/logout">Logout</a></li>
</ul>