<form class="navbar-form pull-right" action="/login" method="post">
	<input type="text" class="span2" name="username" placeholder="Username" />
	<input type="password" class="span2" name="password" placeholder="Password" />
	<input type="submit" class="span1" value="Login" />
</form>